## Build Folders
bin/
obj/
out/

## Files
*.user
*.userosscache
*.suo
*.userprefs
*.pdb
*.exe
*.dll

## VS Code settings
.vscode/

## Visual Studio
.vs/
*.nupkg
*.[Cc]ache
*.bak
*.swp
*.[Oo]bj/
*.[Bb]in/
*.[Ll]og/
*.sln.docstates

## Rider
.idea/

## User-specific files
*.rsuser
